.main_container {
  margin-top: 80px;
}

.side_bar {
  background-color: #F0F0F0;
}

.default_preview {
  background-color: #f0f0f0;
  height: 200px;
  text-align:center;
  padding:5px;
  vertical-align: middle;
}
